<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>회원가입</title>
</head>
<body>
<div class="container">
    <section id="content">
        <form method="post" th:if="${dto == null}">
            <div class="form_group" >
                <input type="text" id="username" name="username" placeholder="닉네임을 입력하세요.">
                <span id="valid" th:text="${valid_username}"></span>
            </div>
            <div class="form_group">
                <input type="email" id="email" name="email" placeholder="이메일을 입력하세요.">
                <span id="valid" th:text="${valid_email}"></span>
            </div>
            <div class="form_group">
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요.">
                <button type="submit">회원가입</button>
            </div>
        </form>
        <form method="post" th:if="${dto}">
            <div class="form_group" >
                <label for="username">이름</label>
                <input type="text" id="username" name="username" placeholder="이름을 입력하세요." th:value="${dto.username}">
                <span id="valid" th:text="${valid_username}"></span>
            </div>
            <div class="form_group">
                <label for="email">이메일</label>
                <input type="eamil" id="email" name="email" placeholder="이메일을 입력하세요." th:value="${dto.email}">
                <span id="valid" th:text="${valid_email}"></span>
            </div>
            <div class="form_group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요.">
                <button type="submit">회원가입</button>
            </div>
        </form>
    </section>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const errorMsg = [[${errorMsg}]];
    /*]]>*/

    if (errorMsg != null) {
        alert(errorMsg);
        console.log(errorMsg);
    }
</script>
</body>
</html>