<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <form method="post" th:if="${dto == null}">
        <div class="form-group">
            <label class="form-label mt-4">회원가입</label>
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="홍길동">
                <label for="floatingInput">User name</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form method="post" th:unless="${dto == null}">
        <div class="form-group">
            <label class="form-label mt-4">회원가입</label>
            <th:block th:if="${valid_email == null}">
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="floatingInput">
                    <label for="floatingInput">Email address</label>
                </div>
            </th:block>
            <th:block th:unless="${valid_email} == null">
                <div class="form-floating mb-3 has-danger">
                    <input type="email" name="email" class="form-control is-invalid" id="floatingInput">
                    <label for="floatingInput">Email address</label>
                    <div class="invalid-feedback" th:text="${valid_email}"></div>
                </div>
            </th:block>
            <th:block th:if="${valid_username == null}">
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" id="floatingUsername">
                    <label for="floatingInput">User name</label>
                </div>
            </th:block>
            <th:block th:unless="${valid_username == null}">
                <div class="form-floating mb-3 has-danger">
                    <input type="text" name="username" class="form-control is-invalid" id="floatingUsername">
                    <label for="floatingInput">User name</label>
                    <div class="invalid-feedback" th:text="${valid_username}"></div>
                </div>
            </th:block>
            <div class="form-floating mb-4">
                <input type="password" name="password" class="form-control" id="floatingPassword">
                <label for="floatingPassword">Password</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sing up</button>
    </form>
</div>
</body>
</html>