<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>비밀번호 수정</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <!-- 정상 페이지 -->
    <form method="post" th:if="${dto == null}">
        <div class="form-group">
            <label class="form-label mt-4">비밀번호 수정</label>
            <div class="form-floating mb-3">
                <input type="password" name="currentPassword" class="form-control" id="currentPassword" required>
                <label for="currentPassword">기존 비밀번호</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="newPassword" class="form-control" id="newPassword" required>
                <label for="newPassword">새로운 비밀번호</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
                <label for="confirmPassword">비밀번호 확인</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">update</button>
    </form>

    <!-- 에러 페이지 -->
    <form method="post" th:unless="${dto == null}">
        <div class="form-group">
            <label class="form-label mt-4">비밀번호 수정</label>
            <th:block th:if="${wrongPassword == null}">
                <div class="form-floating mb-3">
                    <input type="password" name="currentPassword" class="form-control" id="currentPassword" th:value="${dto.getCurrentPassword()}" required>
                    <label for="currentPassword">기존 비밀번호</label>
                </div>
            </th:block>
            <th:block th:unless="${wrongPassword == null}">
                <div class="form-floating mb-3 has-danger">
                    <input type="password" name="currentPassword" class="form-control is-invalid" id="currentPassword" th:value="${dto.getCurrentPassword()}" required>
                    <label for="currentPassword">기존 비밀번호</label>
                    <div class="invalid-feedback" th:text="${wrongPassword}"></div>
                </div>
            </th:block>
            <div class="form-floating mb-3">
                <input type="password" name="newPassword" class="form-control" id="newPassword" th:value="${dto.getNewPassword()}" requird>
                <label for="newPassword">새로운 비밀번호</label>
            </div>
            <th:block th:if="${differentPassword == null}">
                <div class="form-floating mb-3">
                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" th:value="${dto.getConfirmPassword()}" required>
                    <label for="confirmPassword">비밀번호 확인</label>
                </div>
            </th:block>
            <th:block th:unless="${differentPassword == null}">
                <div class="form-floating mb-3 has-danger">
                    <input type="password" name="confirmPassword" class="form-control is-invalid" id="confirmPassword" th:value="${dto.getConfirmPassword()}" required>
                    <label for="confirmPassword">비밀번호 확인</label>
                    <div class="invalid-feedback" th:text="${differentPassword}"></div>
                </div>
            </th:block>
        </div>
        <button type="submit" class="btn btn-primary">update</button>
    </form>
</div>
</body>
</html>