<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>회원 정보 수정</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <sectin id="content">
        <form th:action="@{/member/update}" method="post">
            <h1>User update</h1>
            <div>
                <input type="text" id="email" name="email" th:value="${member.getEmail()}" readonly>
            </div>
            <div>
                <input type="text" id="username" name="username" th:value="${member.getUsername()}">
            </div>
            <div>
                <input type="password" id="password" name="password" th:value="${#authentication.principal.password}">
            </div>
            <div>
                <input type="submit" value="수정">
            </div>
        </form>
    </sectin>
</div>
</body>
</html>