<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title th:text="|${member.getUsername()}의 정보|"></title>
</head>
<body>
<div class="container" layout:fragment="content">
    <a href="/">홈으로</a>
    <div class="card mb-4">
        <div class="card-header">
            <h4 th:text="|Hello ${member.getUsername()}!|"></h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Profile Picture -->
                <div class="col-md-4">
                    <img th:src="${image.getUrl()}" class="img-fluid rounded-circle" alt="Profile picture">
                    <form th:action="@{/image/upload}" th:method="post" enctype="multipart/form-data" class="mt-2">
                        <div class="mb-3">
                            <input type="file" class="form-control" name="file" accept="image/*" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile Picture</button>
                    </form>
                </div>
                <div class="col-md-8">
                    <p th:text="${member.getEmail()}"></p>
                    <a th:href="@{/member/update/username}" class="btn btn-outline-warning">정보 수정</a>
                    <a th:href="@{/member/withdrawal}" class="btn btn-outline-danger">회원 탈퇴</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>