<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div th:if="${param.email != null}">
        <h2 th:text="Welcome ${param.email}"></h2>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>

        <a href="/member/list">회원목록</a>
    </div>

    <div th:if="${param.email == null}">
        <a href="/login">로그인</a>
    </div>
</div>
</body>
</html>