<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Home</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-md-1">번호</th>
            <th class="col-md-1">제목</th>
            <th class="col-md-1">작성자</th>
            <th class="col-md-1">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}"></a></td>
            <td th:text="${board.username}"></td>
            <td th:text="${board.createdAt} ? ${#temporals.format(board.createdAt,'yyyy-MM-dd HH:mm')} : ${board.createdAt}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${!boardList.isEmpty()}">
        <ul class="pagination"
            th:with="
                pageNumber = ${boardList.pageable.pageNumber},
                pageSize = ${boardList.pageable.pageSize},
                totalPages = ${boardList.totalPages},
                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

            <li th:classappend="${boardList.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:if="${param.keyword == null}" th:href="${boardList.first} ? '#' : @{/(page=${pageNumber - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
                <a class="page-link" th:if="${param.keyword != null}" th:href="${boardList.first} ? '#' : @{/(page=${pageNumber - 1}, keyword=${param.keyword})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                <a th:text="${page}" th:if="${param.keyword == null}" class="page-link" th:href="@{/(page=${page - 1})}"></a>
                <a th:text="${page}" th:if="${param.keyword != null}" class="page-link" th:href="@{/(page=${page - 1}, keyword=${param.keyword})}"></a>
            </li>

            <li th:classappend="${boardList.last} ? 'disabled'" class="page-item">
                <a class="page-link" th:if="${param.keyword == null}" th:href="${boardList.last} ? '#' : @{/(page=${pageNumber + 1})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
                <a class="page-link" th:if="${param.keyword != null}" th:href="${boardList.last} ? '#' : @{/(page=${pageNumber + 1}, keyword=${param.keyword})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        </ul>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
</div>
</body>
</html>