<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div sec:authorize="hasRole('USER')">
        <h2 sec:authentication="name">사용자</h2>
        <a href="/member/list">회원목록</a>
        <a href="/logout">로그아웃</a>
    </div>
    <div sec:authorize="!hasRole('USER')">
        <div th:if="${param.logout}">
            로그아웃 하셨습니다.
        </div>
        <a href="/login">로그인</a>
    </div>
</div>
</body>
</html>