<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <title>Home</title>
</head>
<body>
<div class="container">
  <section id="content">
    <form action="/login" method="post" th:if="${dto == null}">
      <h1>Login Form</h1>
      <div>
        <input type="text" placeholder="Email" id="email" name="email" required />
      </div>
      <div>
        <input type="password" placeholder="Password" id="password" name="password" required />
      </div>
      <div>
        <input type="submit" value="Log in" />
        <a href="#">Lost your password?</a>
        <a href="/signup">Register</a>
      </div>
    </form>
    <form action="/login" method="post" th:if="${dto}">
      <h1>Login Form</h1>
      <div>
        <input type="text" placeholder="Email" id="email" name="email" required />
        <span id="valid" th:text="${valid_email}"></span>
      </div>
      <div>
        <input type="password" placeholder="Password" id="password" name="password" required />
      </div>
      <div>
        <input type="submit" value="Log in" />
        <a href="#">Lost your password?</a>
        <a href="/signup">Register</a>
      </div>
    </form>
  </section>
</div>
</body>
</html>